<script>
  /*
  var cooks = document.cookie.split(";")
    .map(cookie => cookie.split("="))
    .reduce((accumulator, [key, value]) =>
      ({ ...accumulator, [key.trim()]: decodeURIComponent(value) }), 
  {});
  */
  
  try {
    var dict = JSON.parse(Cookies.get("cart"));
  }
  catch(err) {
    Cookies.set("cart", JSON.stringify({}))
    var dict = JSON.parse(Cookies.get("cart"));
  }

  function add(title, pic, price, priceshown){

    var dict = JSON.parse(Cookies.get("cart"));
    
    try {
      dict[title][0] += 1;
    }
    catch(err) {
      dict[title] = [1, pic, price, priceshown];
    }

    Cookies.set("cart", JSON.stringify(dict));
    console.log(document.cookie)
  }
</script>

<footer>
</footer>  
</body>
</html>