{{partial "header.html"}}


<ul>
  <li class="product">  
    <a href="/posts/likery/jagermeister/">

      <img class="product_image" src="https://imgur.com/GOFC0Gq.png" alt="">
      <h3 class="product_title">
        Jägermeister 0,7l 35%
      </h3>
      <h5 class="product_price">
        349,00
      </h5>
    </a>
  </li>
  <li class="product">
    <a href="/posts/aperitivy/aperol_aperitivo/">
      
      <img class="product_image" src="https://imgur.com/3dYXmt6.png" alt="">
      <h3 class="product_title">
        Aperol Aperitivo 0,7l 11%
      </h3>
      <h5 class="product_price">
        299,00
      </h5>
    </a>

  </li>
  <li class="product">
    <a href="/posts/giny/beefeater_blood/">
      
      <img class="product_image" src="https://imgur.com/3lX8p1r.png" alt="">
      <h3 class="product_title">
        Beefeater Blood Orange 0,7l 37,5%
      </h3>
      <h5 class="product_price">
        449,00
      </h5>
    </a>

  </li>
  <li class="product">
    <a href="/posts/likery/baileys_irishcream/">
      
      <img class="product_image" src="https://imgur.com/FOlBfCP.png" alt="">
      <h3 class="product_title">
        Baileys Irish Cream 0,7l 17%
      </h3>
      <h5 class="product_price">
        399,00
      </h5>
    </a>

  </li>
  <li class="product">
    <a href="/posts/likery/becherovka_lemond/">
      
      <img class="product_image" src="https://imgur.com/gQOghU1.png" alt="">
      <h3 class="product_title">
        Becherovka Lemond 0,5l 20%
      </h3>  
      <h5 class="product_price">
        209,00
      </h5>
    </a>

  </li>
</ul>

{{partial "footer.html"}}
