{{partial "header.html"}}
Ahoj tohle je skvělá stránka

<ul>
  <li class="product">  
    <a href="">
      <img class="product_image" src="" alt="">
      <h3 class="product_title">

      </h3>
      <h5 class="product_price">

      </h5>
    </a>
  </li>
  <li class="product">
    <a href="">
      
      <img class="product_image" src="" alt="">
      <h3 class="product_title">

      </h3>
      <h5 class="product_price">

      </h5>
    </a>

  </li>
  <li class="product">
    <a href="">
      
      <img class="product_image" src="" alt="">
      <h3 class="product_title">

      </h3>
      <h5 class="product_price">

      </h5>
    </a>

  </li>
  <li class="product">
    <a href="">
      
      <img class="product_image" src="" alt="">
      <h3 class="product_title">

      </h3>
      <h5 class="product_price">

      </h5>
    </a>

  </li>
  <li class="product">
    <a href="">
      
      <img class="product_image" src="" alt="">
      <h3 class="product_title">

      </h3>  
      <h5 class="product_price">

      </h5>
    </a>

  </li>
</ul>

{{partial "footer.html"}}
